<!-- The video -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<video autoplay muted loop id="myVideo">
    <source src="./assets/images/friends.mp4" type="video/mp4">
</video>

<!-- Logo and Caption -->
<div class="content">
    <h1 id="logo">Mindful</h1>

    <p id="cap">"A Smart Space For Social Media"</p>

    <class class="btn-group btn-group-toggle" data-toggle="buttons"
        style="position: fixed; top: 0; left: 0; padding: 42% 42% 0 42%; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;">
        <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" checked> Log In
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2"> Sign Up
        </label>
    </class>

</div>