body {
    background-color: pink;
}

/* Front Page Text Styling */
#logo {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: pink;
}

#cap {
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    color: white;
}

.nav-link {
    font-family: 'Amatic SC', cursive;
    color: pink !important;
    font-weight: bolder;
    font-size: 25px;
}

.nav-link:hover,
.nav-link active,
.nav-link:visited {
    font-family: 'Amatic SC', cursive;
    color: rgb(253, 177, 189) !important;
    font-weight: bolder;
    font-size: 25px;

}