body {
    background-color: pink;
}

/* Page Text Styling */
#logo {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: pink;
}

#cap {
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    color: white;
}

/* Nav Bar Styling */
.nav-link {
    font-family: 'Amatic SC', cursive;
    color: pink !important;
    font-weight: bolder;
    font-size: 25px;
}

.nav-link:hover,
.nav-link-active,
.nav-link:visited {
    font-family: 'Amatic SC', cursive;
    color: rgb(255, 164, 178) !important;
    font-weight: bolder;
    font-size: 25px;

}




/* Jumbotron Styling */
.jumbo-height {
    min-height: 650px;
    background: linear-gradient(black, transparent 60%),
        url("./monstra.jpeg");
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    min-height: 640px;
    color: #fff;
}

.img-size {
    height: 300px;
    width 300px;
}


/* Jumbotron Contents */
#myName {
    font-family: 'Pacifico', cursive;
    color: white;
    margin-left: 30%;
}

.lead {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 25px;
    float: left;
}

.rounded-circle {
    margin-left: 400px;

}

#jumboBtn {
    font-family: 'Amatic SC', cursive;
    background-color: white !important;
    color: pink;
    font-weight: bolder;
    margin-left: 480px;
}


#jumboBtn:hover,
#jumboBtn-active,
#jumboBtn:visited {
    font-family: 'Amatic SC', cursive;
    color: rgb(255, 164, 178) !important;
    font-weight: bolder;
    font-size: 21px;

}

/* Forms */
#texting {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-weight: bolder;
    font-size: 35px;
}

.card-body {
    background-color: rgb(233, 236, 239)
}




/* Story Cards */

.display-4 {
    font-family: 'Pacifico', cursive;
    color: pink;
}


.btn-primary {
    font-family: 'Amatic SC', cursive;
    background-color: white !important;
    color: pink;
    font-weight: bolder;
}


.btn-primary :hover,
.btn-primary-active,
.btn-primary :visited {
    font-family: 'Amatic SC', cursive;
    color: rgb(255, 164, 178) !important;
    font-weight: bolder;
    font-size: 21px;
}