        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Title</h5>
                    <p class="card-text text-center">One Sentence Hook.</p>
                    <div class="col text-center">
                        <button class="btn-primary">Full Story</button>
                    </div>
                </div>
            </div>
        </div>